/model_code/db_module.py
/model_code_old/db_module.py
/web_code/db_module.py
/model_container_dev/
/model_code_old/__pycache__/
/model_code_old/tests/
/web_code/__pycache__/
/scrapper_code/__pycache__/
/web_code/nhl_funcs/__pycache__/
/EkstraBetEnv/
/model_code/logs/
/model_code/__pycache__
/model_code/.cursor
/model_code/model_btts_dev
/model_code/model_goals_dev
/model_code/model_winner_dev
/model_code/model_dev
/model_code/model_exact_dev
pages/nhl_funcs/__pycache__/