/model_container_dev/
/model_code_old/tests/
/model_code/logs/
/model_code/.cursor
/model_code/model_btts_dev
/model_code/model_goals_dev
/model_code/model_winner_dev
/model_code/model_dev
/model_code/model_exact_dev
/api_code/.env
/api_code/.env.example
model_code/prediction_configs/prediction_config.json
model_code/prediction_configs/prediction_daily.json
/db_funcs/Hokej/shots_line_guide/
model_code/model_goals-6-classes_dev
/.streamlit/secrets.toml
.vscode/
/models/
**/__pycache__/
**/db_module.py