# ANA
INSERT INTO transfers(player_id, old_team_id, new_team_id, season_id) values (415, 877, 866, 7)
UPDATE players set `current_club` = 866 where id = 415
INSERT INTO transfers(player_id, old_team_id, new_team_id, season_id) values (895, 894, 866, 7)
UPDATE players set `current_club` = 866 where id = 895
INSERT INTO transfers(player_id, old_team_id, new_team_id, season_id) values (285, 873, 866, 7)
UPDATE players set `current_club` = 866 where id = 285
INSERT INTO players (first_name, last_name, common_name, current_club, current_country, sports_id, position, external_id) VALUES ("Marcus", "Pettersson", "Pettersson M.", 866, 32, 2, "D", 8477969);
INSERT INTO players (first_name, last_name, common_name, current_club, current_country, sports_id, position, external_id) VALUES ("Andy", "Welinski", "Welinski A.", 866, 20, 2, "D", 8476407);
UPDATE players set `current_club` = 866 where id = 554
UPDATE players set `current_club` = 866 where id = 847
UPDATE players set `current_club` = 866 where id = 626
UPDATE players set `current_club` = 866 where id = 19
INSERT INTO players (first_name, last_name, common_name, current_club, current_country, sports_id, position, external_id) VALUES ("Giovanni", "Fiore", "Fiore G.", 866, 31, 2, "L", 8479613);
UPDATE players set `current_club` = 866 where id = 137
UPDATE players set `current_club` = 866 where id = 561
UPDATE players set `current_club` = 866 where id = 690
UPDATE players set `current_club` = 866 where id = 601
UPDATE players set `current_club` = 866 where id = 275
# BOS
UPDATE players set `current_club` = 867 where id = 646
UPDATE players set `current_club` = 867 where id = 938
UPDATE players set `current_club` = 867 where id = 817
UPDATE players set `current_club` = 867 where id = 135
UPDATE players set `current_club` = 867 where id = 661
UPDATE players set `current_club` = 867 where id = 704
# BUF
UPDATE players set `current_club` = 868 where id = 219
UPDATE players set `current_club` = 868 where id = 512
UPDATE players set `current_club` = 868 where id = 520
UPDATE players set `current_club` = 868 where id = 487
UPDATE players set `current_club` = 868 where id = 163
UPDATE players set `current_club` = 868 where id = 431
UPDATE players set `current_club` = 868 where id = 562
UPDATE players set `current_club` = 868 where id = 472
UPDATE players set `current_club` = 868 where id = 798
UPDATE players set `current_club` = 868 where id = 503
UPDATE players set `current_club` = 868 where id = 412
UPDATE players set `current_club` = 868 where id = 773
# CAR
UPDATE players set `current_club` = 869 where id = 251
UPDATE players set `current_club` = 869 where id = 260
UPDATE players set `current_club` = 869 where id = 65
UPDATE players set `current_club` = 869 where id = 271
UPDATE players set `current_club` = 869 where id = 984
# CBJ
UPDATE players set `current_club` = 870 where id = 963
UPDATE players set `current_club` = 870 where id = 741
UPDATE players set `current_club` = 870 where id = 493
UPDATE players set `current_club` = 870 where id = 435
UPDATE players set `current_club` = 870 where id = 405
UPDATE players set `current_club` = 870 where id = 272
UPDATE players set `current_club` = 870 where id = 273
UPDATE players set `current_club` = 870 where id = 504
UPDATE players set `current_club` = 870 where id = 379
# CGY
UPDATE players set `current_club` = 871 where id = 151
UPDATE players set `current_club` = 871 where id = 43
UPDATE players set `current_club` = 871 where id = 616
UPDATE players set `current_club` = 871 where id = 653
UPDATE players set `current_club` = 871 where id = 656
UPDATE players set `current_club` = 871 where id = 434
UPDATE players set `current_club` = 871 where id = 243
UPDATE players set `current_club` = 871 where id = 476
UPDATE players set `current_club` = 871 where id = 506
# CHI
UPDATE players set `current_club` = 872 where id = 611
UPDATE players set `current_club` = 872 where id = 187
UPDATE players set `current_club` = 872 where id = 120
UPDATE players set `current_club` = 872 where id = 51
UPDATE players set `current_club` = 872 where id = 391
UPDATE players set `current_club` = 872 where id = 234
UPDATE players set `current_club` = 872 where id = 59
UPDATE players set `current_club` = 872 where id = 268
UPDATE players set `current_club` = 872 where id = 309
UPDATE players set `current_club` = 872 where id = 213
UPDATE players set `current_club` = 872 where id = 342
UPDATE players set `current_club` = 872 where id = 704
# COL
UPDATE players set `current_club` = 873 where id = 1
UPDATE players set `current_club` = 873 where id = 672
UPDATE players set `current_club` = 873 where id = 283
UPDATE players set `current_club` = 873 where id = 324
UPDATE players set `current_club` = 873 where id = 752
UPDATE players set `current_club` = 873 where id = 294
UPDATE players set `current_club` = 873 where id = 600
UPDATE players set `current_club` = 873 where id = 312
UPDATE players set `current_club` = 873 where id = 609
UPDATE players set `current_club` = 873 where id = 835
# DAL
UPDATE players set `current_club` = 874 where id = 447
UPDATE players set `current_club` = 874 where id = 680
UPDATE players set `current_club` = 874 where id = 326
UPDATE players set `current_club` = 874 where id = 63
UPDATE players set `current_club` = 874 where id = 411
UPDATE players set `current_club` = 874 where id = 537
# DET
UPDATE players set `current_club` = 875 where id = 743
UPDATE players set `current_club` = 875 where id = 867
UPDATE players set `current_club` = 875 where id = 168
UPDATE players set `current_club` = 875 where id = 773
# EDM
UPDATE players set `current_club` = 876 where id = 510
UPDATE players set `current_club` = 876 where id = 543
UPDATE players set `current_club` = 876 where id = 385
UPDATE players set `current_club` = 876 where id = 591
UPDATE players set `current_club` = 876 where id = 556
UPDATE players set `current_club` = 876 where id = 435
UPDATE players set `current_club` = 876 where id = 405
UPDATE players set `current_club` = 876 where id = 176
UPDATE players set `current_club` = 876 where id = 639
# FLA
UPDATE players set `current_club` = 877 where id = 317
UPDATE players set `current_club` = 877 where id = 791
UPDATE players set `current_club` = 877 where id = 68
UPDATE players set `current_club` = 877 where id = 111
UPDATE players set `current_club` = 877 where id = 74
# LAK
UPDATE players set `current_club` = 878 where id = 479
UPDATE players set `current_club` = 878 where id = 483
UPDATE players set `current_club` = 878 where id = 681
UPDATE players set `current_club` = 878 where id = 556
UPDATE players set `current_club` = 878 where id = 435
UPDATE players set `current_club` = 878 where id = 534
UPDATE players set `current_club` = 878 where id = 72
UPDATE players set `current_club` = 878 where id = 476
UPDATE players set `current_club` = 878 where id = 36
# MIN
UPDATE players set `current_club` = 879 where id = 159
UPDATE players set `current_club` = 879 where id = 197
UPDATE players set `current_club` = 879 where id = 756
UPDATE players set `current_club` = 879 where id = 132
UPDATE players set `current_club` = 879 where id = 134
UPDATE players set `current_club` = 879 where id = 143
UPDATE players set `current_club` = 879 where id = 441
UPDATE players set `current_club` = 879 where id = 506
UPDATE players set `current_club` = 879 where id = 986
# MTL
UPDATE players set `current_club` = 880 where id = 510
UPDATE players set `current_club` = 880 where id = 317
UPDATE players set `current_club` = 880 where id = 961
UPDATE players set `current_club` = 880 where id = 385
UPDATE players set `current_club` = 880 where id = 90
UPDATE players set `current_club` = 880 where id = 486
UPDATE players set `current_club` = 880 where id = 783
UPDATE players set `current_club` = 880 where id = 716
UPDATE players set `current_club` = 880 where id = 130
UPDATE players set `current_club` = 880 where id = 851
UPDATE players set `current_club` = 880 where id = 854
UPDATE players set `current_club` = 880 where id = 335
UPDATE players set `current_club` = 880 where id = 534
UPDATE players set `current_club` = 880 where id = 33
# NJD
UPDATE players set `current_club` = 881 where id = 151
UPDATE players set `current_club` = 881 where id = 782
UPDATE players set `current_club` = 881 where id = 15
UPDATE players set `current_club` = 881 where id = 846
UPDATE players set `current_club` = 881 where id = 654
UPDATE players set `current_club` = 881 where id = 100
UPDATE players set `current_club` = 881 where id = 561
UPDATE players set `current_club` = 881 where id = 976
UPDATE players set `current_club` = 881 where id = 407
UPDATE players set `current_club` = 881 where id = 110
# NSH
UPDATE players set `current_club` = 882 where id = 513
UPDATE players set `current_club` = 882 where id = 1031
UPDATE players set `current_club` = 882 where id = 591
UPDATE players set `current_club` = 882 where id = 754
UPDATE players set `current_club` = 882 where id = 264
UPDATE players set `current_club` = 882 where id = 208
UPDATE players set `current_club` = 882 where id = 701
# NYI
UPDATE players set `current_club` = 883 where id = 385
UPDATE players set `current_club` = 883 where id = 626
UPDATE players set `current_club` = 883 where id = 400
UPDATE players set `current_club` = 883 where id = 39
# NYR
UPDATE players set `current_club` = 884 where id = 930
UPDATE players set `current_club` = 884 where id = 46
UPDATE players set `current_club` = 884 where id = 646
UPDATE players set `current_club` = 884 where id = 91
UPDATE players set `current_club` = 884 where id = 816
UPDATE players set `current_club` = 884 where id = 360
UPDATE players set `current_club` = 884 where id = 94
UPDATE players set `current_club` = 884 where id = 973
UPDATE players set `current_club` = 884 where id = 328
UPDATE players set `current_club` = 884 where id = 398
UPDATE players set `current_club` = 884 where id = 654
UPDATE players set `current_club` = 884 where id = 64
UPDATE players set `current_club` = 884 where id = 310
UPDATE players set `current_club` = 884 where id = 859
UPDATE players set `current_club` = 884 where id = 661
UPDATE players set `current_club` = 884 where id = 109
# OTT
UPDATE players set `current_club` = 885 where id = 670
UPDATE players set `current_club` = 885 where id = 117
UPDATE players set `current_club` = 885 where id = 257
UPDATE players set `current_club` = 885 where id = 681
UPDATE players set `current_club` = 885 where id = 686
UPDATE players set `current_club` = 885 where id = 300
UPDATE players set `current_club` = 885 where id = 852
UPDATE players set `current_club` = 885 where id = 467
UPDATE players set `current_club` = 885 where id = 825
UPDATE players set `current_club` = 885 where id = 476
UPDATE players set `current_club` = 885 where id = 36
UPDATE players set `current_club` = 885 where id = 701
# PHI
UPDATE players set `current_club` = 886 where id = 217
UPDATE players set `current_club` = 886 where id = 348
UPDATE players set `current_club` = 886 where id = 1029
UPDATE players set `current_club` = 886 where id = 257
UPDATE players set `current_club` = 886 where id = 720
UPDATE players set `current_club` = 886 where id = 823
# PIT
UPDATE players set `current_club` = 887 where id = 317
UPDATE players set `current_club` = 887 where id = 741
UPDATE players set `current_club` = 887 where id = 742
UPDATE players set `current_club` = 887 where id = 873
UPDATE players set `current_club` = 887 where id = 325
UPDATE players set `current_club` = 887 where id = 685
UPDATE players set `current_club` = 887 where id = 65
UPDATE players set `current_club` = 887 where id = 440
UPDATE players set `current_club` = 887 where id = 827
UPDATE players set `current_club` = 887 where id = 375
UPDATE players set `current_club` = 887 where id = 773
# SJS
UPDATE players set `current_club` = 889 where id = 758
UPDATE players set `current_club` = 889 where id = 792
UPDATE players set `current_club` = 889 where id = 138
UPDATE players set `current_club` = 889 where id = 798
# STL
UPDATE players set `current_club` = 890 where id = 485
UPDATE players set `current_club` = 890 where id = 553
UPDATE players set `current_club` = 890 where id = 825
UPDATE players set `current_club` = 890 where id = 731
UPDATE players set `current_club` = 890 where id = 891
UPDATE players set `current_club` = 890 where id = 772
UPDATE players set `current_club` = 890 where id = 957
# TBL
UPDATE players set `current_club` = 891 where id = 40
UPDATE players set `current_club` = 891 where id = 645
UPDATE players set `current_club` = 891 where id = 648
UPDATE players set `current_club` = 891 where id = 521
UPDATE players set `current_club` = 891 where id = 847
UPDATE players set `current_club` = 891 where id = 852
UPDATE players set `current_club` = 891 where id = 764
UPDATE players set `current_club` = 891 where id = 660
UPDATE players set `current_club` = 891 where id = 859
# TOR
UPDATE players set `current_club` = 892 where id = 280
UPDATE players set `current_club` = 892 where id = 157
UPDATE players set `current_club` = 892 where id = 758
UPDATE players set `current_club` = 892 where id = 796
UPDATE players set `current_club` = 892 where id = 105
UPDATE players set `current_club` = 892 where id = 536
UPDATE players set `current_club` = 892 where id = 891
# VAN
UPDATE players set `current_club` = 894 where id = 113
UPDATE players set `current_club` = 894 where id = 708
UPDATE players set `current_club` = 894 where id = 749
UPDATE players set `current_club` = 894 where id = 54
UPDATE players set `current_club` = 894 where id = 466
UPDATE players set `current_club` = 894 where id = 206
UPDATE players set `current_club` = 894 where id = 435
UPDATE players set `current_club` = 894 where id = 272
UPDATE players set `current_club` = 894 where id = 379
# VGK
UPDATE players set `current_club` = 895 where id = 738
UPDATE players set `current_club` = 895 where id = 79
UPDATE players set `current_club` = 895 where id = 224
UPDATE players set `current_club` = 895 where id = 840
UPDATE players set `current_club` = 895 where id = 585
UPDATE players set `current_club` = 895 where id = 459
UPDATE players set `current_club` = 895 where id = 548
UPDATE players set `current_club` = 895 where id = 88
UPDATE players set `current_club` = 895 where id = 902
UPDATE players set `current_club` = 895 where id = 968
UPDATE players set `current_club` = 895 where id = 14
UPDATE players set `current_club` = 895 where id = 717
UPDATE players set `current_club` = 895 where id = 786
UPDATE players set `current_club` = 895 where id = 129
UPDATE players set `current_club` = 895 where id = 331
UPDATE players set `current_club` = 895 where id = 498
UPDATE players set `current_club` = 895 where id = 210
UPDATE players set `current_club` = 895 where id = 1135
UPDATE players set `current_club` = 895 where id = 659
UPDATE players set `current_club` = 895 where id = 438
UPDATE players set `current_club` = 895 where id = 602
UPDATE players set `current_club` = 895 where id = 372
UPDATE players set `current_club` = 895 where id = 826
UPDATE players set `current_club` = 895 where id = 663
UPDATE players set `current_club` = 895 where id = 827
UPDATE players set `current_club` = 895 where id = 443
UPDATE players set `current_club` = 895 where id = 378
UPDATE players set `current_club` = 895 where id = 507
# WPG
UPDATE players set `current_club` = 896 where id = 705
UPDATE players set `current_club` = 896 where id = 123
UPDATE players set `current_club` = 896 where id = 90
UPDATE players set `current_club` = 896 where id = 401
UPDATE players set `current_club` = 896 where id = 831
# WSH
UPDATE players set `current_club` = 897 where id = 963
UPDATE players set `current_club` = 897 where id = 1071
UPDATE players set `current_club` = 897 where id = 256
UPDATE players set `current_club` = 897 where id = 236
UPDATE players set `current_club` = 897 where id = 497
UPDATE players set `current_club` = 897 where id = 570
UPDATE players set `current_club` = 897 where id = 1044
# ARI
UPDATE players set `current_club` = 930 where id = 40
UPDATE players set `current_club` = 930 where id = 479
UPDATE players set `current_club` = 930 where id = 643
UPDATE players set `current_club` = 930 where id = 644
UPDATE players set `current_club` = 930 where id = 418
UPDATE players set `current_club` = 930 where id = 514
UPDATE players set `current_club` = 930 where id = 254
UPDATE players set `current_club` = 930 where id = 753
UPDATE players set `current_club` = 930 where id = 718
UPDATE players set `current_club` = 930 where id = 59
UPDATE players set `current_club` = 930 where id = 240
UPDATE players set `current_club` = 930 where id = 274
UPDATE players set `current_club` = 930 where id = 72
UPDATE players set `current_club` = 930 where id = 665
